body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  padding: 0 20px; 
  box-sizing: border-box; 
}

.content-block {
  max-width: 800px; 
  width: 100%; 
  background-color: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  min-height: 300px; 
  box-sizing: border-box; 
}



h1 {
  font-size: 2.2rem;
  color: #2575fc;
  margin-bottom: 20px;
  border-bottom: 2px solid #2575fc;
  padding-bottom: 10px;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

pre {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  white-space: pre-wrap; 
  word-wrap: break-word; 
  max-height: 500px; 
  overflow-y: auto; 
}

header nav ul {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
  padding: 10px;
  margin: 0;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

header nav ul li a.back-link {
  color: #2575fc;
  text-decoration: none;
  font-size: 1.2rem;
  position: absolute;
  top: 20px; 
  left: 40px; 
  display: inline-flex;
  align-items: center;
  z-index: 100;
}

header nav ul li a.back-link::before {
  content: '\2190'; 
  font-size: 1.5rem;
  color: #2575fc; 
  padding: 5px 15px;
}

header nav ul li a:hover {
  background-color: rgba(123, 123, 123, 0.2);
  border-radius: 5px;
}

@media (max-width: 600px) {
  .content-block {
    padding: 20px 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  header nav ul li a.back-link {
    font-size: 0.1rem; 
    padding: 1px 1px; 
  }
  
}
