body {
    margin: 10px;
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
    
  }
  
  header {
    text-align: center;
    padding: 30px 20px;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: white;
  }
  
  header h1 {
    font-size: 2.5rem;
    margin-top: 10px;
    font-weight: 700;
  }
  
  header nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    flex-wrap: wrap; 
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
    h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #2575fc;
    margin-bottom: 20px;
    border-bottom: 2px solid #2575fc;
    padding-bottom: 5px;
  }
  
  .image-container,
  .image-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  details {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
    cursor: pointer;
  }
  
  details summary {
    font-weight: bold;
    color: #2575fc;
    outline: none;
    cursor: pointer;
  }
  
  details p{
    margin-top: 5px;
    line-height: 1.5;
  }
  
  figure {
    text-align: center;
    margin: 15px;
    max-width: 200px;
  }
  
  
  img {
    max-width: 150px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  figcaption {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
  }
  
  a.Doku {
    display: inline-block;
    margin-top: 20px;
    font-size: 1rem;
    color: #2575fc;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #2575fc;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  a.Doku:hover {
    background-color: #2575fc;
    color: white;
  }
  
  figcaption a {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
     
  }
  
  h3 a { display: inline-block;
    margin-top: 20px;
    font-size: 1rem;
    color: #2575fc;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #2575fc;
    border-radius: 5px;
    transition: all 0.3s ease;}
  
  h3 a:hover {
    background-color: #2575fc;
    color: white;
  }
  
  #Thema3 { color: #555;}
  
  #Thema3 a {
    color: #2575fc; 
    text-decoration: none;
    font-weight: bold; 
    margin-left: 10px;
  }
  
  
  