body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
}

header {
  text-align: center;
  padding: 20px 20px 30px 20px;
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  color: white;
  position: relative;
}

header h1 {
  font-size: 2.5rem;
  margin-top: 10px;
  font-weight: 700;
}

header nav ul {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

header nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

header nav ul li a.back-link::before {
  content: '\2190'; 
  font-size: 1.5rem;
  color: white; 
}

main {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: #2575fc;
  margin-bottom: 20px;
  border-bottom: 2px solid #2575fc;
  padding-bottom: 5px;
}

section {
  margin-bottom: 40px;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin: 10px 0;
}

.intro-block {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.image-block {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

figure {
  text-align: center;
  margin: 15px;
  max-width: 200px;
}

img {
  max-width: 150px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: none;
}


.text-link:hover {
  transform: scale(1.2);
}

a {
  color: #2575fc;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.3s ease;
}

.text-link {
  color: #2575fc;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 0px 10px;
  
  background-color: transparent;
  transition: all 0.3s ease;
}


figure a {
  display: block;
}

figcaption {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
}

h3 a {
  display: inline-block;
  margin-top: 20px;
  font-size: 1rem;
  color: #2575fc;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #2575fc;
  border-radius: 5px;
  transition: all 0.3s ease;
}

h3 a:hover {
  background-color: #2575fc;
  color: white;
}

h3 a::before {
  content: none;
}
