/* style.css */
body {
    margin: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    position: relative;
    height: 100vh;
}

#ball {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    position: absolute; /* Absolut positioniert innerhalb des Viewports */
    top: 0; /* Start oben */
    left: 0; /* Start links */
}
