/* style.css */
body {
    margin: 0;
    overflow: hidden;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    position: absolute;
}
